<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/resources/css/stylepc.css">
    <link rel="icon" type="image/x-icon" href="/resources/favicon.icon" />
</head>

<body>
	<div class="container" style="height: 100%">
		<div class="menu">
			<h3><i class="q-menu-img positionIicon"></i>特效</h3>
			<ul class="ulmenu1">
				<li><a class="selected" href="/hello?id=1" target="iframe_name">弹球</a></li>
				<li><a href="/hello?id=12" target="iframe_name">跟随鼠标的球</a></li>
				<li><a href="/hello?id=11" target="iframe_name">台球碰撞检测</a></li>
				<li><a href="/hello?id=5" target="iframe_name">迷宫生成与自动走</a></li>
				<li><a href="/hello?id=14" target="iframe_name">BFS自动求解拼图</a></li>
				<li><a href="/hello?id=15" target="iframe_name">隐藏文字特效</a></li>
			</ul>

			<h3><i class="q-menu-doit positionIicon"></i>单机游戏</h3>
			<ul class="ulmenu2">
				<li><a href="/hello?id=2" class="selected" target="iframe_name">象棋</a></li>
				<li><a href="/hello?id=3" target="iframe_name">五子棋</a></li>
				<li><a href="/hello?id=4" target="iframe_name">扫雷</a></li>
				<li><a href="/hello?id=6" target="iframe_name">自制英雄qw技能</a></li>
				<li><a href="/hello?id=7" target="iframe_name">跑路</a></li>
				<li><a href="/hello?id=8" target="iframe_name">跳就完事</a></li>
			</ul>

			<h3><i class="q-menu-three positionIicon"></i>后端功能</h3>
			<ul class="ulmenu3">
				<li><a class="selected" href="/hello?id=9" target="iframe_name">属性树</a></li>
				<li><a href="/hello?id=10" ta rget="iframe_name">任务</a></li>
				<li><a href="/hello?id=16" ta rget="iframe_name">jps寻路</a></li>
			</ul>

            <h3><i class="q-menu-four positionIicon"></i>网络对战</h3>
            <ul class="ulmenu4">
                <li><a class="selected" href="/hello?id=13" target="iframe_name">跑酷</a></li>
            </ul>
		</div>
		
		<div class="content">
			<iframe class="content-iframe" width="100%" height="100%" src="/hello?id=1"  name="iframe_name"  frameborder="0" scrolling="no"></iframe>
		</div>

	</div>
</body>
	<script type="text/javascript" src="/resources/js/pc.js"></script>
</html>