<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>go语言编程</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="resources/css/stylepc.css">
    <link rel="icon" type="image/x-icon" href="resources/favicon.icon"/>
</head>
<body>
<div class="container" style="height: 100%">
    <div class="menu">
        <h3>go语言编程，图灵版</h3>
        <ul class="ulmenu1">
            <li><a class="selected" href="/hello/{id}" target="iframe_name">选择图片</a></li>
        </ul>

        <h3>上传图片</h3>
        <ul class="ulmenu2">
            <form method="post" action="/upload" enctype="multipart/form-data">
                Choose an image to upload: <input name="image" type="file"/>
                <input type="submit" value="Upload"/>
            </form>
        </ul>

    </div>
</div>


</body>
</html>