<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>

<body>
    <h2>都是之前玩过的一些游戏，然后自己实现一遍，也有些自己乱做的，</h2>
    <a href="/hello?id=1">弹球(特效)</a></br>
    <a href="/hello?id=12">跟随鼠标的球(特效)</a></br>
    <a href="/hello?id=11">小球碰撞检测(特效)</a></br>
    <a href="/hello?id=5">迷宫生成与自动走(特效)</a></br>
    <a href="/hello?id=2">象棋(游戏)</a></br>
    <a href="/hello?id=3">五子棋(游戏)</a></br>
    <a href="/hello?id=4">扫雷(游戏)</a></br>
    <a href="/hello?id=6">自制英雄qw技能(游戏)</a></br>
    <a href="/hello?id=7">跑路(游戏)</a></br>
    <a href="/hello?id=8">跳就完事(游戏)</a></br>
    <a href="/hello?id=9">属性树(功能)</a></br>
    <a href="/hello?id=10">任务(功能)</a></br>
</body>
</html>