<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
        text-align: center;
    }
</style>
<script>

    var config = {
        canvasWidth: 800,       //画布宽，左上是（0，0）
        canvasHeight: 800,     //画布高
        context : null,
        an:20,
    };

    var cache = {
        balls:[
            [8, 10],
            [10, 0],
            [8, -10],
            [-8, -10],
            [-10, 0],
            [-8, 10],
            [8, 10]
        ],
        val : 50
    };

    window.onload = function (ev) {
        var canvas = document.getElementById("canvas");
        canvas.width = config.canvasWidth;
        canvas.height = config.canvasHeight;
        config.context = canvas.getContext("2d");
        setInterval(function () {
            draw();
            update();
        }, config.an);

    };
    
    function update() {
        
    }
    
    function draw() {
        var context = config.context;
        var balls = cache.balls;
        context.clearRect(0, 0, config.canvasWidth, config.canvasHeight);
        context.save();
        context.moveTo(balls[0][0] + cache.val, balls[0][1] + cache.val);
        for (var i = 1; i < balls.length; i++) {
            context.lineTo(balls[i][0] + cache.val, balls[i][1] + cache.val);
        }
        context.strokeStyle="#0000ff";
        context.stroke();
        context.restore();
    }
</script>
<body>
    <canvas id="canvas" style="border: 1px solid black"></canvas>
</body>
</html>